.hero_about {
    padding: 30px 0px 30px 0px;

}

.about_me_hero {
    word-break: break-word;
    overflow-wrap: break-word;
}

.who_is {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.about_more {
    margin: 0;
}

.gray_color {
   color: rgba(0, 0, 0, 0.414);
}

.content_about_more {
    display: grid;
    gap: 10px;
}

.wrapper_info_me {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

article {
    padding: 30px 0;
}

/* logo style */
.brand_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.styled_brand {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
}

.wrapper_brands {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.brand_one {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brand_img {
    width: 28px;
    height: 28px;
    object-fit: contain;
    border-radius: 4px;
}

.name_brand {
    color: var(--text-black);
    font-weight: 500;
}

.about_brand {
    display: flex;
    flex-direction: column;
}

.role_level {
    font-size: 12px;
}


/* comment */


.wrapper_comments {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
    scrollbar-width: none;
}

.comment_styled {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px;
    width: 80%;
    border: 1px solid var(--border-color-global);
    border-radius: 20px;
    gap: 10px;
    margin-top: 20px;
}

.heading_comment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img_user {
    width: 60px;
    height: 60px;
    border-radius: 9px;
}

.name_user {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.role_comment {
    font-size: 12px;
}