h6{
    color: var(--text-white);
    font-size: 4rem;
    font-weight: 100;
    margin: 40px 0;
    letter-spacing: -4%;
}

#footerElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color-global);
    border-radius: var(--border-radius-small);
    padding: 100px 0;
    background-color: var(--bg-dark);
    margin: 60px 0;
    
}

.contact_network{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 30px;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--border-color-global);
    padding: var(--padding-mobile-small);
}

.contact_network_icon{
    width: 36px;
    height: 36px;
}

.buttons_contact{
    display: flex;
    gap: 20px;
}