@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');

:root {
    /* Cores Principais */
    --primary-blue: #000000;
    --secondary-blue: #c1c6ff;
    --secondary-blue-opacity: #000000af;
    --secondary-light-opacity: #ffffffe0;
    --bg-light: #fcf5e6;
    --bg-dark: rgb(30, 29, 29);
    --text-black: #000000;
    --text-black-opacity: #969494;
    --text-white: #FFFFFF;
    --text-gray: #a1a1a1;

    /* Fontes */
    --font-main: 'Geologica', sans-serif;

    --font-menu-mobile-small: 3rem;

    --font-size-card: 1rem;
    --font-size-title-card: 1.5rem;
    --font-size-intro-project: 1.4rem;

    --font-size-main-h2-content: 1.4rem;
    --font-size-main-h2-desktop: 2rem;
    --font-size-main-h5-content: 1.1rem;



    /* Espaçamento e Bordas */
    --border-radius-small: 26px;
    --border-radius-card-small: 20px;
    --border-color-global: #cac8c8;

    /* Gap */
    --gap-mobile-small: 10px;

    /* Padding */
    --padding-mobile-small: 10px;
    --padding-medium-mobile-small: 20px;

    /* Margin */
    --margin-mobile-small: 10px;
    --margin-mobile-top: 100px;
    --margin-mobile-bottom: 100px;
    --margin-large-mobile-top: 200px;
    --margin-large-mobile-bottom: 200px
        /* divider */


}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    color: var(--text-black);
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: var(--font-size-main-h2-content);
    font-weight: 400;
}

h5 {
    font-size: var(--font-size-main-h5-content);
    font-weight: 400;
    margin: 0;
}

.paragraph {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px 0px 0px;

    color: #5f5f5f;
}

p {
    padding: 0;
    margin: 0;
}

* {
    scroll-behavior: smooth;
}


html {
    cursor: url("/img/cursor.png"), auto;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--text-gray);
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-red);
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-dark);
}