    #header-placeholder {
        z-index: 999;
    }

    header {
        position: sticky;
        bottom: 20px;
        margin: 0;
    }

    .heading_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        position: fixed;
        inset: auto 10px 10px;
        z-index: 10;

        border-radius: var(--border-radius-small);
        width: auto;

        background-color: var(--secondary-blue-opacity);
        backdrop-filter: blur(6px);

        padding: var(--padding-mobile-small);
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo_main_felipe {
        width: 20px;
        height: 20px;
        display: block;
        transform-origin: center center;
    }

    a {
        text-decoration: none;
        color: var(--text-black);
    }

    .nav {
        position: fixed;
        inset: 0;

        display: none;
        flex-direction: column;

        background: var(--bg-light);
        z-index: 3;
    }

    .nav.active {
        display: flex;
    }

    .nav_menu {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        font-size: var(--font-menu-mobile-small);

        gap: var(--padding-mobile-small);
        margin: var(--margin-mobile-small);

        padding: 0;
        height: 100%;
    }

    .menu_toggle {
        all: unset;

        color: var(--text-white);
        background-color: var(--primary-blue);

        padding: var(--padding-mobile-small);
        border-radius: var(--border-radius-small);

        cursor: pointer;
    }