    #header-placeholder {
        z-index: 16;
    }

    header {
        position: sticky;
        margin: 0;
    }

    .heading_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;

        position: fixed;
        inset: 10px 10px auto;
        z-index: 10;

        border-radius: var(--border-radius-small);
        width: auto;

        background-color: var(--secondary-blue-opacity);
        backdrop-filter: blur(6px);

        padding: var(--padding-mobile-small);
    }

    .menu_option {
        width: 100%;
    }

    .link_goto {
        width: 100%;
        display: block
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo_main_felipe {
        width: 20px;
        height: 20px;
        display: block;
        transform-origin: center center;
    }

    a {
        text-decoration: none;
        color: var(--text-black);
    }

    .nav {
        position: fixed;
        inset: 0;

        display: none;
        flex-direction: column;

        background: var(--bg-light);
        z-index: 3;
    }

    .nav.active {
        display: flex;
    }

    .nav_menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--font-menu-mobile-small);
        gap: var(--padding-mobile-small);
        margin-bottom: var(--margin-mobile-small);
        padding: 10px;
        height: 100%;
        letter-spacing: -1px;
    }

    .option_one,
    .option_two,
    .option_three,
    .option_four {
        border-bottom: 1px solid var(--border-color-global);
        padding: 10px 0;
    }

    .menu_toggle {
        all: unset;

        color: var(--text-white);
        background-color: var(--primary-blue);

        padding: var(--padding-mobile-small);
        border-radius: var(--border-radius-small);

        cursor: pointer;
    }

    .figma_tips {
        pointer-events: none;
        display: flex;
        gap: 4px;
        border-radius: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .icon_soon {
        width: 14px;
        height: 14px;
        padding: 10px;
        border-radius: 50%;
        background-color: #00000080;
    }

    .soon_position {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 2px;
        font-size: 10px;
    }

    .nav_menu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        font-size: var(--font-menu-mobile-small);
        gap: var(--padding-mobile-small);
        margin: var(--margin-mobile-small);
        padding: 10px;
        height: 100%;
    }

    /* safe eyes */

    .wrapper_colors {
        display: flex;
        gap: 4px;
    }

    .option_four {
        display: flex;
        justify-content: space-between;
    }

    .style_btn_safe {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
    }

    #safe-eyes-default {
        background-color: #ffffff;
        border: 1px solid var(--border-color-global);
        cursor: pointer;
    }

    #safe-eyes-red {
        background-color: red;
        cursor: pointer;
    }

    #safe-eyes-orange {
        background-color: rgb(255, 176, 73);
        cursor: pointer;
    }

    #safe-eyes-blue {
        background-color: #7583ff;
        cursor: pointer;
    }

    .dropdown_icon {
        display: none;
    }