/* Extra pequeno (mobile) */
@media (max-width: 575.98px) {
    body {
        margin: 10px 10px;
        border: 1px solid red;
    }

    header {
        position: fixed;
        top: 0px;
        left: 0;
        padding: 10px;
        width: 100%;
        z-index: 999;
        margin: 0;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #logoChangesTypo {
        font-size: 20px;
    }

    #menuToggle {
        all: unset;
        display: inline;
        width: 20px;
        height: 20px;
        background-color: #2b14c0;
        padding: 10px;
        border-radius: 10px;
    }

    .footerMenuMobile {
        padding: 0px 20px 0px 20px;
    }

    .menuItem {
        font-size: 40px;
        padding: 0;
        border-radius: 0;
    }

    .menuItem,
    li {
        width: 100%;
        border-bottom: 1px solid #2b14c0;
    }

    .positionItemMenu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: -webkit-fill-available;
        height: fit-content;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        letter-spacing: -2px;
    }

    #mobileNav {
        position: fixed;
        top: 55px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: none;
        opacity: 1;
        flex-direction: column;
        z-index: 998;
    }

    /* Hero */
    .contentHero h1 {
        font-size: 2.3rem;
    }

    .parent {
        grid-template-columns: 1fr;
    }

    .headingTools {
        font-size: 3rem;
    }

    .figma {
        left: -20%;
        bottom: 50%;
    }

    .blender {
        right: 50%;
        bottom: 20%;
    }

    .protopie {
        left: 20%;
        bottom: 60%;
    }

    .photoshop {
        right: -20%;
        bottom: 0%;
    }

    .unreal {
        bottom: -20%;
    }

    .figma:hover,
    .blender:hover,
    .protopie:hover,
    .photoshop:hover,
    .unreal:hover {
        pointer-events: none;
    }

    /* footer */

    .footerHeading {
        font-size: 2rem;
    }

    .contantMe {
        flex-direction: column-reverse;
    }

    .footerLinks {
        width: 100%;
        box-sizing: border-box;
    }

    /* projeto - handoff */

    .heroProject {
        width: fit-content;
        height: 100vh;
        object-fit: contain;
        border-radius: 17px;
    }

    .heroProject img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .titleProject {
        color: #0f0f0f;
        mix-blend-mode: color-burn;
        text-align: center;
        margin: 0;
        z-index: 99;
    }

    .styledHeading {
        font-size: 1rem;
    }

    .columnLeft {
        position: absolute;
        padding: 10px;
        top: 60%;
        left: 0;
    }

    .mainContentProject {
        padding: 0px;
    }

    .stickyContent {
        font-size: 2rem;
    }

    .subtitleContentPhases {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.2rem;
        width: fit-content;
    }

    h6 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    main h2 {
        font-size: 2rem;
    }

    .imgSizeFull,
    .imgSizeDefault {
        width: 100%;
        height: auto;
    }

    .headContent {
        width: 100%;
        margin: 0;
    }

    .contentPartOne,
    .contentPartTwo,
    .contentPartThree {
        margin: 60px 0px 60px 0px;
    }

    .svgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    #handoffDiagram {
        transform: rotate(270deg) scale(2);
    }

    .subtitleContent {
        font-size: 2rem;
    }

    .positionChallenges {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: self-start;
    }

    .card {
        width: 310px;
    }

    .contentHeadingMain {
        margin: 0;
    }

    .challenges {
        display: flex;
        gap: 10px;
        flex-direction: column;
        overflow: hidden;
    }

    .contentPartOne .challenges .blockOne:nth-child(2),
    .contentPartOne .challenges .blockOne:nth-child(3) {
        display: none;
    }

    .contentPartTwo .challenges .blockOne:nth-child(1),
    .contentPartTwo .challenges .blockOne:nth-child(3) {
        display: none;
    }

    .contentPartThree .challenges .blockOne:nth-child(2),
    .contentPartThree .challenges .blockOne:nth-child(1) {
        display: none;
    }

    .diagram-wrapper {
        display: none;
        position: relative;
        width: 100%;
        height: 420px;

    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .label {
        position: absolute;
        border: 1px solid #b9b9b9;
        font-size: 8px;
    }

    .sliderGsap {
        display: none;
    }
}

/* Pequeno (mobile grande) */
@media (min-width: 576px) and (max-width: 767.99px) {
    body {
        overflow-x: hidden;
    }

    header {
        padding: 8px 8px;
        background-color: #ffffff;
        top: 0px;
        z-index: 999;
        margin: 0;
    }

    nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #logoChangesTypo {
        font-size: 20px;
    }

    #menuToggle {
        all: unset;
        display: inline;
        width: 20px;
        height: 20px;
        background-color: #2b14c0;
        padding: 10px;
        border-radius: 10px;
    }

    .footerMenuMobile {
        padding: 0px 20px 0px 20px;
    }

    .menuItem {
        font-size: 40px;
        padding: 0;
        border-radius: 0;
    }

    .menuItem,
    li {
        width: 100%;
        border-bottom: 1px solid #2b14c0;
    }

    .positionItemMenu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: -webkit-fill-available;
        height: fit-content;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
        letter-spacing: -2px;
    }

    .footerMenuMobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobileNav {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: none;
        opacity: 1;
        flex-direction: column;
        z-index: 998;
    }

    .allImages {
        width: 100%;
    }

    .titleUp {
        left: 4%;
        padding: 0;
        top: 10%;
        font-size: 80px;
    }

    .titleDown {
        font-size: 80px;
        right: 4%;
        bottom: 2%;
    }

    .swapUI,
    .swapUX {
        width: 500px;
        height: 300px;
    }

    .contentHero h1 {
        font-size: 2.3rem;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .paragraphSupFooter {
        display: flex;
        text-align: center;
        width: 100%;
    }

    footer .content1 h6 {
        font-size: 3rem;
    }

    .content2 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .content3 {
        align-items: flex-start;
    }

    /* projeto - handoff */

    .heroProject {
        width: fit-content;
        height: 100vh;
        object-fit: contain;
        border-radius: 17px;
    }

    .heroProject img {
        width: 90%;
        height: 70%;
        object-fit: cover;
    }

    .titleProject {
        color: #0f0f0f;
        mix-blend-mode: color-burn;
        text-align: center;
        z-index: 99;
    }

    .mainContentProject {
        padding: 10px;
    }

    .columnLeft {
        position: absolute;
        top: 80%;
    }

    .stickyContent {
        font-size: 3rem;
    }

    .subtitleContentPhases {
        font-size: 1rem;
        max-width: 100%;
    }

    h1 {
        font-size: 1.2rem;
        width: fit-content;
    }

    h6 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    main h2 {
        font-size: 2rem;
    }

    .imgSizeFull,
    .imgSizeDefault {
        width: 100%;
        height: auto;
    }

    .headContent {
        width: 100%;
        margin: 0;
    }

    .contentPartOne,
    .contentPartTwo,
    .contentPartThree {
        margin: 60px 0px 60px 0px;
    }

    .subtitleContent {
        font-size: 2rem;
    }

    .positionChallenges {
        display: flex;
        flex-direction: column;
    }

    .contentPartOne .challenges .blockOne:nth-child(2),
    .contentPartOne .challenges .blockOne:nth-child(3) {
        display: none;
    }

    .contentPartTwo .challenges .blockOne:nth-child(1),
    .contentPartTwo .challenges .blockOne:nth-child(3) {
        display: none;
    }

    .contentPartThree .challenges .blockOne:nth-child(2),
    .contentPartThree .challenges .blockOne:nth-child(1) {
        display: none;
    }

    .scrollWrapper,
    .scrollLeftRight {
        display: none;
    }

    .moreArtefacts {
        display: none;
    }

    .seeMore {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0px 0px 60px 0px;
    }

    .previewImage {
        display: none;
    }

    .columnRightSeeMore {
        width: 90%;
    }

    .imgHoveringProjects {
        display: none;
    }

}

/* Médio (tablet) */
@media (min-width: 768px) and (max-width: 991.99px) {
    body {
        overflow-x: hidden;
        margin: 20px;
    }

    header {
        left: 10px;
        right: 10px;
    }

    .cardGrid {
        height: 480px;
    }

    .parent {
        grid-template-columns: 1fr;
    }

    .titleUp,
    .titleDown {
        font-size: 100px;
    }

    .swapUX,
    .swapUI {
        width: 630px;
        height: 400px;
    }

    .paragraphSupFooter {
        display: flex;
        text-align: center;
        width: 100%;
    }

    footer .content1 h6 {
        font-size: 3rem;
    }

    /* projeto - handoff */

    .heroProject {
        width: fit-content;
        height: 100vh;
        object-fit: contain;
        border-radius: 17px;
    }

    .heroProject img {
        width: 90%;
        height: 70%;
        object-fit: cover;
    }

    .titleProject {
        color: #0f0f0f;
        mix-blend-mode: color-burn;
        text-align: center;
        z-index: 99;
    }

    .columnLeft {
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
    }

    .content2 {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .content3 {
        align-items: flex-start;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }


    .mainContentProject {
        padding: 10px;
    }

    .stickyContent {
        font-size: 3rem;
    }

    .subtitleContentPhases {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.2rem;
        width: fit-content;
    }

    h6 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    main h2 {
        font-size: 2rem;
    }

    .imgSizeFull,
    .imgSizeDefault {
        width: 100%;
        height: auto;
    }

    .headContent {
        width: 100%;
        margin: 0;
    }



    .contentPartOne,
    .contentPartTwo,
    .contentPartThree {
        margin: 60px 0px 60px 0px;
    }

    .svgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    #handoffDiagram {
        transform: rotate(270deg) scale(1);
    }

    .subtitleContent {
        font-size: 2rem;
    }

    .positionChallenges {
        display: flex;
        flex-direction: column;
    }

    .contentPartOne .challenges .blockOne:nth-child(2),
    .contentPartOne .challenges .blockOne:nth-child(3) {
        opacity: 0.4;
    }

    .contentPartTwo .challenges .blockOne:nth-child(1),
    .contentPartTwo .challenges .blockOne:nth-child(3) {
        opacity: 0.4;
    }

    .contentPartThree .challenges .blockOne:nth-child(2),
    .contentPartThree .challenges .blockOne:nth-child(1) {
        opacity: 0.4;
    }

    .scrollWrapper,
    .scrollLeftRight {
        display: none;
    }

    .moreArtefacts {
        display: none;
    }

    .seeMore {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0px 0px 60px 0px;
    }

    .previewImage {
        display: none;
    }

    .columnRightSeeMore {
        width: 90%;
    }

    .imgHoveringProjects {
        display: none;
    }

}

/* Grande (desktop) */
@media (min-width: 992px) and (max-width: 1450.99px) {
    .heroProject {
        width: fit-content;
        height: 100vh;
        object-fit: contain;
        border-radius: 17px;
    }

    .heroProject img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #svgMenuOpen {
        display: none;
    }

    #menuToggle {
        display: none;
    }

    .footerMenuMobile {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: -webkit-fill-available;
        top: 10px;
        z-index: 999;
        margin: 10px;
        padding: 10px;
    }

    nav,
    ul {
        list-style: none;
    }

    .positionItemMenu {
        display: flex;
        gap: 4px;
        padding: 0;
        margin: 0;
    }

    .itemMenu,
    li,
    .menuItem {
        text-decoration: none;
        color: #000000;

    }

    .menuItem {
        border-radius: 20px;
        padding: 20px 30px;
        background-color: #FFF;
        color: #000000;
    }

    .menuItem:hover {
        background-color: #0015ff;
        color: #ffffff;
    }

    .titleUp,
    .titleDown {
        text-transform: none;
        font-size: 80px;
    }

    .stickyContent {
        font-size: 2rem;
    }

    .headContent .subtitleContentPhases {
        font-size: 2rem;
    }

    .mainContentProject {
        gap: 100px;
        padding: 0 1% 0 5%;
    }

    .subtitleContent {
        font-size: 1.5rem;
    }

    .scrollWrapper {
        width: 100%;
        overflow: hidden;
    }

    h6 {
        font-size: 4rem;
    }

    .columnRightSeeMore {
        width: 60%;
    }

    .seeMore {
        margin: 60px;
    }

}