@media (min-width: 320px) {
    body {
        margin: 10px;
    }

    .hero_ghost_text,
    .hero_main_text {
        font-size: 70px;
    }

    .tooltip {
        display: none;
    }

    h6 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.6rem;
    }

}

@media (min-width: 425px) {
    body {
        margin: 20px;
    }

    .tooltip {
        display: none;
    }

}

@media (min-width: 500px) {
    body {
        margin: 20px;
    }

    .tooltip {
        display: none;
    }

    .hero_mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border: 1px solid rgba(0, 0, 0, 0.032);
        gap: 30px;
        padding: 0% 0 0 0;
    }
}

/* Mobile */
@media (max-width: 768px) {

    #hero_canvas,
    .hero_info {
        display: none;
    }

    .hero_mobile {
        gap: 60px;
        padding: 80px 0 10px
    }


    .hero {
        height: auto;
        overflow: visible;
    }

    .hero_mobile {
        display: flex;
    }
}

/* Desktop */
@media (min-width: 769px) {
    body {
        margin: 0px 50px;
    }

    #hero_canvas {
        display: block;
    }

    .hero_mobile {
        display: none;
    }

    .projects_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {

    body {
        margin: 0px 20px;

    }

    #header-placeholder {
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        top: 3%;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);

        width: 84%;
        background-color: rgba(0, 0, 0, 0.767);
        backdrop-filter: blur(9px);
        border-radius: 30px;
    }

    .logo {
        width: 32px;
        height: 32px;
        fill: white;
    }

    .title_button {
        color: var(--text-white);
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .dropdown_icon {
        display: block;
        width: 16px;
        height: 16px;
    }

    .option_four {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .wrapper_colors {
        display: none;
        transition: opacity 0.4s ease;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.548);
        top: 100%;
        left: 0;
        transform: translate(-10%, 0%);
        padding: 10px;
        border-radius: 12px;
        border: 1px solid var(--border-color-global);
    }

    .option_four:hover .wrapper_colors {
        display: flex;
    }

    #safe-eyes-default,
    #safe-eyes-red,
    #safe-eyes-orange,
    #safe-eyes-blue {
        width: 20px;
        height: 20px;
    }

    .dropdown_icon {
        transition: transform 0.2s ease;
    }

    .option_four:hover .dropdown_icon {
        transform: rotate(180deg);
    }

    .heading_nav {
        position: static;
        background: none;
        backdrop-filter: none;

        padding-left: 30px;
    }

    .menu_toggle {
        display: none;
    }

    .nav {
        position: static;
        display: flex;
        background: none;
    }

    .nav_menu {
        flex-direction: row;
        align-items: center;
        gap: 30px;
        font-size: 16px;

        padding-right: 30px;
        margin: 0;
    }

    .menu_option {
        width: fit-content;
    }

    .icon_soon {
        width: 12px;
        border-radius: 50%;
        padding: 0;
        background-color: transparent;
    }

    .soon_position {
        align-content: center;
    }

    .figma_tips {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        align-items: center;
    }

    li a {
        color: var(--text-white);
    }

    .projects_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .hero {
        margin: 7% 0;
    }


    .tooltip {
        display: block;
    }

    .final_product {
        width: 50% !important;
        /* box-sizing: border-box; */
    }

    .logo_tools {
        width: 100px;
        height: 100px;
        mix-blend-mode: luminosity;
    }

    .item_logo_01 .logo_tools,
    .item_logo_02 .logo_tools {
        width: 240px;
        height: 240px;
    }

    .border-item {
        height: auto;
        /* para de forçar altura fixa */
        padding: 40px 20px;
        /* respira ao redor da imagem */
    }

    .grid_tools {
        grid-template-columns: repeat(6, 1fr);
    }

    /* Remove borda geral */
    .border-item {
        border: none;
    }

    .item_logo_01 {
        grid-column: span 3;
        border-right: 1px solid var(--border-color-global);
        border-bottom: 1px solid var(--border-color-global);
    }

    .item_logo_02 {
        grid-column: span 3;
        border-bottom: 1px solid var(--border-color-global);
        /* só baixo */
    }

    .item_logo_03 {
        grid-column: span 2;
        border-right: 1px solid var(--border-color-global);
    }

    .item_logo_04 {
        grid-column: span 2;
        border-right: 1px solid var(--border-color-global);
    }

    .item_logo_05 {
        grid-column: span 2;
        /* sem borda */
    }

    /* handoff project */

    .sticky_column_right {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
    }

    .column_one_fixed {
        position: sticky;
        top: 70px;
        flex: 0 0 400px;
        height: fit-content;
    }

    .column_two {
        flex: 1;
    }

    .slider_text {
        width: 36%;
        display: block;
        font-size: 16px;
        color: var(--text-white);
    }

    .cards_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .tooltip_person {
        display: block;
        pointer-events: none;
    }

    h1 {
        font-size: 4rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .person_pic {
        width: 40px;
        height: 40px;
        object-fit: fill;
    }

    .about {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .main_about {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        flex: 1;
    }

    .item_expertise {
        font-size: 12px;
        color: var(--text-black);
    }

    .working {
        font-size: 12px;
    }

    .styled_h1_about {
        font-size: 7rem;
        width: 100%;
    }

    .contact_network {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid var(--border-color-global);
        padding: var(--padding-mobile-small);
        box-sizing: border-box;
    }

    .contact_network_icon {
        width: 24px;
        height: 24px;
    }

    .buttons_contact {
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: fit-content;
        padding: 0px 20px;
    }

}

@media (min-width: 1440px) {
    body {
        margin: 0 100px; /* mantém até 1440px */
        max-width: 1440px; /* nunca cresce além disso */
        margin-left: auto;
        margin-right: auto;
    }

    header {
        width: 60%;
    }


    .final_product {
        width: 50%;
    }

    .main_content_handoff {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards_introduction {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

}

@media (min-width: 1884px) {
    body {
        margin: 0 100px; /* mantém até 1440px */
        max-width: 1440px; /* nunca cresce além disso */
        margin-left: auto;
        margin-right: auto;
    }

    .final_product img {
        width: 100% !important;
        object-position: top;
    }

    .sticky_column_right {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 60px;
    }

    .column_one_fixed {
        position: sticky;
        top: 70px;
        flex: 0 0 400px;
        height: fit-content;
    }

    .column_two {
        flex: 1;
    }

    .cards_introduction {
        grid-template-columns: repeat(3, 1fr);
    }

    #diagram {
        width: 100%;
        height: 600px;
        border-radius: 8px;
    }

    .node-main circle {

        stroke-width: 2;
    }

    .node-secondary circle {
        fill: #00000002;
        stroke: gray;
        stroke-width: 1;
    }

    .link {
        stroke: #c7c7c7;
        stroke-width: 1;
    }

    .label {
        font-size: 12px;
        fill: rgb(12, 12, 12);
        text-anchor: middle;
        pointer-events: none;
    }
}