<header id="header" data-header>
	<div class="heading_nav">
		<a href="/index.html" class="logo" data-logo>
			<svg class="logo_main_felipe" width="32" height="32" viewBox="0 0 32 32" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M15.1606 27.8006C14.7952 27.6187 14.4968 27.3203 14.313 26.9546L4.19178 6.72172C3.83225 5.98547 3.98748 5.09893 4.57985 4.53125C5.17045 3.96133 6.06124 3.8378 6.78431 4.22399L14.6543 8.45867C15.4893 8.90506 16.493 8.90506 17.328 8.45867L25.1979 4.22399C25.9206 3.83557 26.8118 3.96133 27.4024 4.53125C28.0015 5.09448 28.1701 5.97878 27.8172 6.72172L17.696 26.9546C17.2294 27.888 16.0919 28.2666 15.1606 27.8006Z"
					fill="white" />
			</svg>
		</a>
		<button class="menu_toggle" data-menu-toggle aria-label="Abrir menu">Menu</button>
	</div>

	<nav class="nav" data-nav>
		<ul class="nav_menu" data-menu>
			<li class="menu_option option_one"><a href="index.html">Início</a></li>
			
			<li class="menu_option option_three"><a class="figma_tips" href="figmatips.html">Experimental UI<span
						class="soon_position">Em breve<img class="icon_soon" src="/img/soon.svg" alt=""></span></s></a>
			</li>
			<li class="menu_option option_four">
				<span class="title_button">Safe eyes <img class="dropdown_icon" src="/img/dropdown.svg" alt=""></span>
				<span class="wrapper_colors">
					<button class="style_btn_safe" id="safe-eyes-default"></button>
					<button class="style_btn_safe" id="safe-eyes-red"></button>
					<button class="style_btn_safe" id="safe-eyes-orange"></button>
					<button class="style_btn_safe" id="safe-eyes-blue"></button>
				</span>
			</li>
			<li class="menu_option option_two"><a href="about.html">Sobre</a></li>
		</ul>
	</nav>
</header>